.root {
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	padding: 10px;

	background: rgba(0,0,0,.6);
}
.title {
	display: block;

	font-size: 30px;
	color: #eee;
	text-align: center;
}
.subtitle {
	display: block;

	font-size: 20px;
	color: #bbb;
	text-align: center;
}
