.root {
	position: relative;
	overflow: hidden;
	overflow-x: auto;
}
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.item {

}

.item.is-active {
	border: 2px solid hotpink;
}
.item.is-next {
	border: 2px solid purple;
}
.item.is-prev {
	border: 2px solid orange;
}
.item.is-hidden {
	border: 2px solid grey;
}
