.root {
	position: relative;
	overflow: hidden;
	overflow-x: auto;

	width: 100%;
	height: 100%;
}
.list {
	position: relative;

	list-style: none;
	padding: 0;
	margin: 0;

	width: 100%;
	height: 100%;
}
.item {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	transition: transform .4s, opacity .2s linear;
}

.item.is-current {
	z-index: 3;
	background: hotpink;

	transform: scale(.7);
}
.item.is-next1 {
	z-index: 2;
	background: purple;

	transform: scale(.6) translateX(100%);
}
.item.is-prev1 {
	z-index: 2;
	background: orange;

	transform: scale(.6) translateX(-100%);
}
.item.is-next2 {
	z-index: 1;
	background: purple;
	opacity: 0;

	transform: scale(.6) translateX(200%);
}
.item.is-prev2 {
	z-index: 1;
	background: orange;
	opacity: 0;

	transform: scale(.6) translateX(-200%);
}

.item.is-hidden {
	z-index: 1;
	background: grey;

	opacity: 0;
	transform: scale(.1) translateX(0%);
}
